<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <style>
      #spree-header{background: #3e3e3e !important;}
      select#taxon.form-control{display: none;}
      hr.style{border: 0;height: 1px;background: #333;background-image: linear-gradient(to right, #ccc, #333, #ccc);clear: both;}
      .blank15{height: 15px;clear: both;}
      ul.dropdown-menu li a {color: #333 !important;}
      ul.dropdown-menu a:hover, a:focus{background-color: none !important;}
      #cLeft{float: left;width: 49.5%;background: #fff;margin-right:.5%;}
      #cRight{float: left;width: 49.5%;height: 300px;background: #fafafa;margin-left:.5%;padding: 3%;}
      .imageWidth {max-width: 100px;}
      .jumbotron{background: #fafafa !important;}
      .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #333 !important;
    border-color: #1c5c92;
}
      .product-body img {widows: 80% !important;}
      img{width: 100%;}
    </style>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>


    <div class="container">
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>

        <% render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>

        <div class="blank15"></div>
        <hr class="style">
        <div id="footer">
          <p style="text-align:center">&copy; 2015</p>
        </div>
      </div>
    </div>
  </body>
</html>
